# Ejemplo de archivo de variables
# Renombra este archivo a terraform.tfvars y personaliza los valores si lo deseas
# Por defecto, estos valores ya están definidos en variables.tf

aws_region     = "eu-west-1"
project_name   = "Keepcoding Modulo AWS practica final"
environment    = "bootcamp"
bucket_prefix  = "bucket-practica-final-aws"
index_document = "index.html"
error_document = "error.html"